
:root {
  --background: #425F57;
  --secondary: #749F82;
  --primary: #A8E890;
  --accent:#CFFF8D;
  --text-color: #000;
  font-family:Arial, Helvetica, sans-serif;
  color: var(--text-color);
  
}

body {
  margin: 0;
}

header {
  height: 4rem;
  background-color: var(--secondary);
  border-bottom: solid 4px ;
  border-color: var(--accent);
  position: sticky;
  top: 0;
}

main {
  background-color: var(--background);
  height: 100%;
}
