
:root {
  --background: #3C6255;
  --secondary: #61876E;
  --primary: #A6BB8D;
  --accent:#EAE7B1;
  --text-color: #f0efe3;
  font-family:Arial, Helvetica, sans-serif;
  color: var(--text-color);
  
}

body {
  margin: 0;
}

header {
  height: 10vh;
  background-color: var(--secondary);
}

main {
  background-color: var(--background);
}
